body {
  margin: auto;
  padding: 0px;
  /*margin-left: 0px;*/
  padding-left: 0px;
  padding-top: 0px;
  /*left: 0px;*/
    /*overflow: hidden;*/
}

/* The navigation bar */

.navbar {
  overflow: hidden;
  /*padding: 0px/* 60px;*/
  font-size: 1.5em;
  font-family: Helvetica;
  /*Arial, Helvetica, sans-serif;*/
  background-color: #333;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  text-align: center;
}

/* Links inside the navbar */

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 0.5em 0.5em;
  text-decoration: none;
}

/* Change background on mouse-over */

.navbar a:hover {
  background: #ddd;
  color: black;

}

h1 {
  font-weight: bold;
  font-size: 1.4em;
  color: #111111;
}

.navbar a.active {
  background: #bae1ff;
  color: black;
}


/* Style links on mouse-over */

.sidebar a:hover {
  color: #444444;
  font-size: 1em
}

.sidebar p.bold {
  font-weight: bold;
  font-size: 1.4em;
  color: #111111;
}

.sidebar p.small {
  /*font-weight: bold;*/
  font-size: 1em;
  color: #111111;
}

.sidebar span {
  /*font-weight: bold;*/
  font-size: 0.9em;
  color: #444444;
}

.sidebar a {
  font-weight: bold;
  /*color: #fb3f00;*/
  color: #777777;
  text-decoration: none;
}

.sidebar p.link {
  color: #fb3f00;
  text-decoration: none;
}
#lin a.link {
  color: #fb3f00;
  text-decoration: none;
}
/* Main content */


.top-buffer { margin-top: 40px; }
.year { margin-top: 30px; margin-bottom: 10px; }
.bottom-buffer { margin-bottom: 40px; }

#pubs lili { margin: 15px 0px; }

.rounded {
  border-radius: 50%;
}

#ref{}
.resi {

  height: auto;
  max-width: 100%;
}
.resi2 {
    width:600px;
    height: 600px;

}
.resi3 {
    width:30vw;
    height:30vw;
    margin: 0 0 0 0;
}
.resi4 {
    width:30vw;
    height:30vw;
      margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
.resi5 {
    width:20em;
    height:20em;
      margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
.resi6 {  
  width:250px; height:250px; margin:0 auto;
}

.cent{
  display: block;
  text-align: center;
}
.cent2{
  display: block;
  text-align: center;
  margin: 0 0 0 0;
}


.main {
  /* margin-top: 300px;  Add a top margin to avoid content overlay */
  /* top right bottom left*/
  
  font-size: 1em;
}
    
.sidebar {
  /*height: 100%;*/
  font-family: Helvetica;
  /*z-index: 1;*/;
  background-color: #ffffff;
  /*overflow-x: hidden;*/
  padding-left: 1em;
  padding-bottom: 1em;
  background: #fff;
  overflow: hidden;
  padding-right: 1em;
  text-decoration: none;
  font-size: 1em;
  color: #818181;
  /*line-height: 1.2em;*/
  
  /*display: block;*/
}


@media only screen and (max-width: 750px) {

.resi4 {
    width:40vw;
    height: 40vw;
}
  }
@media (min-width: 559px) and (max-width: 750px) {

  .sidebar {
    padding-top: 4em;
    /*max-width: 12em;*/
    width:50%;
    padding-left: 25%;
    overflow: visible;
    text-align: center;
    margin: auto;
    display: inline-block;
    justify-content: center;
  }
   .main{
    margin: 1em 1em 4em 1em;
   }
#portrait {
          width: 12em;
        }
        #rm {
  display: none;
}
#rmmain {
  padding-top: 2em;
}
  }

@media (max-width: 559px){

  .sidebar {
    padding-top: 8em;
    
    overflow: visible;
    text-align: center;
    margin: auto;
    display: inline-block;
  }
   .main{
    margin: 4em 1em 4em 1em;
   }
#portrait {
          width: 12em;
        }
        #rm {
  display: none;
}
#rmmain {
  padding-top: 3em;
}
  }



@media (min-width: 750px) {

  .sidebar {
    padding-top: 0.5em;
    overflow: visible;
    position: fixed;
    width: 10em;
  }
  .main{
    margin: 4em 1em 4em 12em;
  }

#portrait {
          width: 100%;
        }
  }



.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.timespan {
    grid-column: span 1;
    font-size: 1em;
    width: 6em;
    text-align: right;
    padding-right: 0.5em;
    color: #bbb;
}
.ico {
    grid-column: span 1;
    vertical-align: top;
    border-left: 2px solid #cfcfcf;
    position: relative;
    z-index: -1;

}
.ico img {
    border-radius: 5px;
    /*width: 100%;*/
    max-width: 6em;
    margin-left: 10px;
}
.desc {
    grid-column: span 10;
    vertical-align: top;
    font-size: 17px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.entry {
}
.entry-dot {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: -8px;
    width: 10px;
    height: 10px;
    border-radius: 7px;
    background-color: #cfcfcf;
    border: 2px solid white;
}